routes:
  - name: create-lead
    method: POST
    path: /leads
    plugins:
      auth:
        - authenticated user
        - scope: leads:import

  - name: get-lead
    method: GET
    path: /leads/{leadId}
    plugins:
      auth:
        - authenticated user
        - role: adviser or customer

  - name: assign-lead
    method: POST
    path: /leads/{leadId}/assign
    plugins:
      auth:
        - authenticated user
        - role: adviser
      opa:
        - staff type: manager
