routes:
  - name: create-lead
    method: POST
    path: /leads
    gatewayAuthorization:
      requirements:
        - authenticated user
        - scope: leads:import

  - name: get-lead
    method: GET
    path: /leads/{leadId}
    gatewayAuthorization:
      requirements:
        - authenticated user
        - role: adviser or customer

  - name: assign-lead
    method: POST
    path: /leads/{leadId}/assign
    gatewayAuthorization:
      requirements:
        - authenticated user
        - role: adviser
    apiChecks:
      requirements:
        - staff type: manager (via staff directory lookup)
